header {
    background: #333;
    color: #fff;
    padding-top: 15px;
    min-height: 70px;
    text-align: center;
    border-bottom: #333 3px solid;
}

header ul {
    margin-top: 20px;
    text-align: center;
    padding-inline-start: 0;
}

header li {
    display: inline;
    padding: 0 20px;
    
}

header a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #acc5cb5e;
}

.container {
    margin: 20px 20px;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #333;
    border-radius: 5px;
    padding: 10px    10px;

}
.card h3 {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;

}