header {
    background: #aliceblue;
    color: #333;
    padding: 50px;
    min-height: 70px;

}

header .headercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

header p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin: auto 20px;
}

header ul {
    margin-top: 20px;
    text-align: center;
    padding-inline-start: 0;
}

header li {
    display: inline;
    padding: 0 20px;
    
}

header a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #acc5cb5e;
}

.container {
    margin: 20px 20px;
}

.boxes {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.box {
    margin: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content h3 {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px    10px;
    box-shadow: #333;

}
.card h3 {
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card p {
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;

}